
p, h3{
    margin:0;
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw; 
    overflow: hidden;
    height: 100vh; 
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    height: 5em; 
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0 1em 0 1em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#home-icon{
    height: 3em;
}

@media only screen and (min-width: 800px) and (max-width: 900px) {
    header h1 {
        font-size: 24px;
    }

    #home-icon {
        height: 2.3em;
    }
}

@media only screen and (min-width: 401px) and (max-width: 450px) {
    header h1 {
        font-size: 20px;
    }

    #home-icon {
        height: 2em;
    }
}

@media only screen and (min-width: 351px) and (max-width: 400px) {
    header h1 {
        font-size: 24px;
    }

    #home-icon {
        height: 2.2em;
    }
}

main{
    height: 100%; 
    display: grid; 
    grid-template-columns: 0.25fr 0.75fr;
}

@media only screen and (min-width: 800px) and (max-width: 900px) {
    main {
        grid-template-columns: 0.35fr 0.65fr;
    }
}

@media only screen and (min-width: 401px) and (max-width: 450px) {
    main {
        grid-template-columns: 0.4fr 0.6fr;
    }
}

@media only screen and (min-width: 351px) and (max-width: 400px) {
    main {
        grid-template-columns: 0.4fr 0.6fr;
    }
}

#sidebar{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    height: calc(100vh - 5em);
    overflow:hidden;

}

/* input sidebar */

#input{
   display: flex;
   flex-direction: column;
   gap: 1em;
   padding: 1em;
}

.station-select{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.type-select{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.station-select label{
    font-size: smaller; 
    display: flex; 
    align-items: center;
}

.type-select label{
    font-size: smaller;
}

.station-select select, 
.type-select select{
    border: none;
    border-radius: 1em;
    height: 2em;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.type-select select{
    width: 75%;
}

/* #origin-pin{
    filter: brightness(0) saturate(100%) invert(18%) sepia(18%) saturate(7119%) hue-rotate(199deg) brightness(92%) contrast(95%);
}

#destination-pin{
    filter: brightness(0) saturate(100%) invert(24%) sepia(35%) saturate(4057%) hue-rotate(342deg) brightness(86%) contrast(117%);
} */

@media only screen and (min-width: 401px) and (max-width: 450px) {
    .station-select select{
        font-size: 10px;
    }

    .type-select {
        flex-direction: column;
        align-items: normal;
    }

    .type-select select {
        font-size: 10px;
        width: 100%;
    }

    #origin-pin, #destination-pin {
        height: 1.5em;
    }
}

@media only screen and (min-width: 351px) and (max-width: 400px) {
    .station-select select{
        font-size: 10px;
    }

    .type-select {
        flex-direction: column;
        align-items: normal;
    }

    .type-select select {
        font-size: 10px;
        width: 100%;
    }

    #origin-pin, #destination-pin {
        height: 1.5em;
    }
}

.routes-btn{
    background: transparent;
    border-radius: 1em; 
    border: 1px solid #060641; 
    width: fit-content;
    font-size: 1em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.routes-btn:hover{
    background: #060641;
    border-color: white;
    color: white;
}

@media only screen and (min-width: 800px) and (max-width: 900px) {
    .routes-btn {
        font-size: 0.8em;
        height: 20px;
    }
}

@media only screen and (min-width: 401px) and (max-width: 450px) {
    .routes-btn {
        font-size: 0.7em;
        height: 20px;
    }
}

@media only screen and (min-width: 351px) and (max-width: 400px) {
    .routes-btn {
        font-size: 0.7em;
        height: 20px;
    }
}

/* results sidebar */

#output{
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    height: 100%;
    box-sizing: border-box;
}

.output-header{
    padding: 0 0em 0.5em 1em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

#output-results{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
}

@media only screen and (min-width: 800px) and (max-width: 900px) {
    .output-header h3 {
        font-size: 15px;
    }
}

@media only screen and (min-width: 401px) and (max-width: 450px) {
    .output-header h3 {
        font-size: 13px;
    }
}

@media only screen and (min-width: 351px) and (max-width: 400px) {
    .output-header h3 {
        font-size: 13px;
    }
}

.sort-options{
    display: flex;
    align-items: center;
    padding: 0 1em 0 1em;
}

.sort-options label, .sort-options select{
    font-size: 0.7em;
    border: none;
}

.sort-options button{
    background: transparent;
    border: none;
}

@media only screen and (min-width: 800px) and (max-width: 900px) {
    .sort-options label, .sort-options select {
        font-size: 0.7em;
    }

    .sort-options button {
        height: 1.7em;
    }
}

@media only screen and (min-width: 401px) and (max-width: 450px) {
    .sort-options label, .sort-options select {
        font-size: 0.6em;
    }

    .sort-options button {
        height: 1em;
    }
}

@media only screen and (min-width: 351px) and (max-width: 400px) {
    .sort-options label, .sort-options select {
        font-size: 0.5em;
    }

    .sort-options button {
        height: 0.4em;
    }
}

.route-result{
    font-size: medium;
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    height: fit-content;
}

.route-result:hover{
    background-color: #06064124;
    color: black;
}

.route-name{
    font-size: smaller;
    font-style: italic;
    color:#00000086;
}

.route-result:hover .route-name{
    color: black;
}

.route-info{
    display: flex;
    gap: 0.5em;
}

.route-price, .route-transfers, .route-time{
    font-weight: bold;
}

.route-unselected{
    background-color: transparent;
}

.route-selected{
    background-color: #060641; 
    color: white;  
}

.route-selected .route-name{
    color: white;
}

@media only screen and (min-width: 800px) and (max-width: 900px) {
    .route-result {
        font-size: 14px;
    }
}

@media only screen and (min-width: 401px) and (max-width: 450px) {
    .route-result {
        font-size: 11px;
    }
}

@media only screen and (min-width: 351px) and (max-width: 400px) {
    .route-result {
        font-size: 10px;
    }
}

/* output mapbar */
#info-panel { 
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: 80%;
    width: 20%; 
    overflow-y: hidden;
    position: fixed;
    top: 6em;
    right: 2em;
    background-color: white;
    z-index: 99999999;
    border-radius: 1em; 
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin: 0em;
    visibility: hidden;
}

#info-header{
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border: none;
    background-color: transparent;
    font-size: 0.8rem;
}

#info-header img{
    width: 1.5em;
}

#info-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
    overflow-y: auto; 
}

.info-main{
    margin: 0 1em 1em 1em;
    display: flex; 
    gap: 0.5em; 
    align-items: center;
}

.info-main img{
    width: 1.5em; 
}

#info-content ul{
    border-left: dotted black 4px;
    padding: 0 1em 0 1em;
    margin-left: 3em;
    list-style:none;
}

#info-content li{
    margin-bottom: 0.5em;
}


#map {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}




/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #060641; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0e3e7c1b; 
  }